html{
	height: 100%;
	overflow: hidden;
}

body{
	color: #fff;
	margin: 0;
	padding: 0;
	perspective: 1px;
	transform-style: preserve-3d;
	height: 100%;
	overflow-x: hidden;
	overflow-y: scroll;
	font-family: cursive;
}

header{
	box-sizing: border-box;
	display: inline-block;
	min-height: 100vh;
	padding: 32vw 0 5vw;
	position: relative;
	transform-style: inherit;
	width: 100vw;
}

header h1{
	margin-top: -250px;
}

header, header:before{
	background: 50% 50% / cover;
}

header::before{
	bottom: 0;
	content: "";
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	display: block;
	background-image: url(images/pic1.jpg);
	background-size: cover;
	transform-origin: center center 0;
	transform: translateZ(-1px) scale(2);
	z-index: -1;
	min-height: 100vh;
}

header *{
	font-weight: normal;
	letter-spacing: 0.1em;
	text-align: center;
	margin: 0;
	padding: 1em 0;
}

nav div a{
	font-size: 200%;
	transition: 0.5s ease all
}

nav div a:hover{
	font-size: 300%;
}

header nav a{
	text-decoration: none;
	color: #ffffff;
}

header h1{
	font-size: 400%;
	font-family: cursive;
	transition-property: background-color,border-radius,color,transform;
	transition-duration: 0.2s;
	transition-timing-function: linear;
	transition-delay: 0.1s;
}

header h1:hover{
	transform: scale(1.2);	
}

header div a i{
	color: #ffffff;
	transition-property: background-color,border-radius,color,transform;
	transition-duration: 0.1s;
	transition-timing-function: linear;
	transition-delay: 0.1s;
}

header div a i:hover{
	transform: scale(2.5);		
}

footer{
	min-height: 30vh
}

#hide
{
	display: none;
}

@media screen and (max-width: 800px)
{
	header
	{
		box-sizing: border-box;
		display: inline-block;
		min-height: 100vh;
		padding: 60vw 0 5vw;
		position: relative;
		transform-style: inherit;
		width: 100vw;
	}

	header nav a div
	{
		display: inline-block;
		transition-property: background-color,border-radius,color,transform;
		transition-duration: 0.4s;
		transition-timing-function: linear;
		transition-delay: 0.1s;
	}

	header nav a div:hover
	{
		transform: scale(2) rotate(360deg);
	}

	header div a i:hover
	{
		transform: scale(3);		
	}

	div a
	{
		display: block;
	}

	#hide
	{
		display: block;
	}
}

