body{
	margin: 0;
	padding: 0;
	background-image: url(images/pic10.jpg);
	background-size: cover;
	background-attachment: fixed;
	width: 100vw;
	height: 100vh;
}

.set{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.set div{
	position: absolute;
	display: block;
}

.set div:nth-child(1)
{
	left: 10%;
	animation: animate 15s linear infinite;
	animation-delay: -7s;
}

.set div:nth-child(2)
{
	left: 15%;
	animation: animate 20s linear infinite;
	animation-delay: -5s;
}

.set div:nth-child(3)
{
	left: 30%;
	animation: animate 25s linear infinite;
	animation-delay: -2s;
}

.set div:nth-child(4)
{
	left: 40%;
	animation: animate 15s linear infinite;
	animation-delay: -4s;
}

.set div:nth-child(5)
{
	left: 55%;
	animation: animate 22s linear infinite;
	animation-delay: -3s;
}

.set div:nth-child(6)
{
	left: 65%;
	animation: animate 11s linear infinite;
	animation-delay: -5s;
}

.set div:nth-child(7)
{
	left: 75%;
	animation: animate 14s linear infinite;
	animation-delay: -1s;
}

.set div:nth-child(8)
{
	left: 90%;
	animation: animate 19s linear infinite;
	animation-delay: -2s;
}

@keyframes animate
{
	0%
	{
		opacity: 0;
		top: -10%;
		transform: translateX(20px) rotate(0deg);
	}
	10%
	{
		opacity: 1;
	}
	20%
	{
		transform: translateX(-20px) rotate(45deg);
	}
	40%
	{
		transform: translateX(-20px) rotate(90deg);
	}
	60%
	{
		transform: translateX(20px) rotate(135deg);
	}
	80%
	{
		transform: translateX(-20px) rotate(180deg);
	}
	100%
	{
		transform: translateX(-20px) rotate(225deg);
		top: 110%;
	}
}

.set2{
	transform: scale(2) rotateY(180deg);
	filter: blur(2px);
}

.set3{
	transform: scale(3) rotateX(180deg);
	filter: blur(4px);
}

.a{
	color: violet;
}

.b{
	color: yellow;
}

.c{
	color: red;
}

.d{
	color: green;
}

.e{
	color: orange;
}

.f{
	color: gold;
}

.g{
	color: red;
}

.h{
	color: purple;
}

header nav{
	position: fixed;
	top: 0px;
	height: 10%;
}

header nav a div{
	display: inline-block;
	color: #ff0000;
	font-family: sans-serif;
	font-weight: bold;
	font-size: 300%;
	margin: 10px;
	padding: 10px;
	transition-property: background-color,border-radius,color,transform;
	transition-duration: 0.1s;
	transition-timing-function: linear;
	transition-delay: 0.1s;
}

header nav a div:hover{
	transform: scale(1.2);
}

footer{
	position: fixed;
	bottom: 0px;
}

footer a div{
	display: inline-block;
	color: #ff0000;
	font-size: 300%;
	margin: 10px;
	padding: 10px;
	transition-property: background-color,border-radius,color,transform;
	transition-duration: 0.3s;
	transition-timing-function: linear;
	transition-delay: 0.1s;
}

footer a div:hover{
	transform: scale(2);
}

#first_sec{
	padding-top: 150px;
	padding-left: 200px;
	font-size: 200%;
	color: #ff0084;
}

#span1, #span2, #span3{
	color: #fff;
	font-weight: bold;
	background-color: #fd2b54;
}

#ul_3{
	padding-bottom: 100px;
}

@media screen and (max-width: 900px)
{
	body{
	margin: 0;
	padding: 0;
	background-image: url(images/pic10.jpg);
	background-size: cover;
	background-attachment: fixed;
	width: 100vw;
	height: 100vh;
}
	header nav{
	position: relative;
	top: 0px;
	height: 10%;
	text-align: center;
}

header nav a div{
	display: block;
	color: #ff0000;
	font-family: sans-serif;
	font-weight: bold;
	font-size: 400%;
	margin: 10px;
	padding: 10px;
	text-decoration: none;
	transition-property: background-color,border-radius,color,transform;
	transition-duration: 0.1s;
	transition-timing-function: linear;
	transition-delay: 0.1s;
}

header nav a div:hover{
	transform: scale(1.2);
}

footer{
	position: relative;
	bottom: 0px;
	text-align: center;
}

footer a div{
	display: block;
	color: #ff0000;
	font-size: 500%;
	padding: 20px;
	transition-property: background-color,border-radius,color,transform;
	transition-duration: 0.3s;
	transition-timing-function: linear;
	transition-delay: 0.1s;
}

footer a div:hover{
	transform: scale(2);
}

#first_sec{
	padding-top: 150px;
	padding-left: 200px;
	font-size: 200%;
	color: #ff0084;
	padding: 50px; 
}

#span1, #span2, #span3{
	color: #fff;
	font-weight: bold;
	background-color: #fd2b54;
}

#ul_1, #ul_2, #ul_3{
	text-align: center;
}

#ul_3{
	padding-bottom: 100px;
}

#fs_menu1, #fs_menu2{
	display: none;
}
}
